/module2/.vs
.json
.txt
.vscode/c_cpp_properties.json
module2/.vscode/launch.json
module2/2/2.1/phonebook
module2/3/3.1/cast_chmod
module2/3/3.2/ips
module2/3/3.2/.vscode/settings.json
module2/4/4.1/phonebook
module2/4/4.1/.vscode/settings.json
module2/4/4.2/pqueue
module2/4/4.2/.vscode/settings.json
module2/4/4.3/phonebook
module2/4/4.3/.vscode/settings.json
module2/6/6.1/.vscode/settings.json
module2/6/6.2/.vscode/settings.json
module2/6/6.3/calc.o
module2/6/6.3/main.o
module2/6/6.3/plugins/add.so
module2/6/6.3/plugins/div.so
module2/6/6.3/plugins/mul.so
module2/6/6.3/plugins/sub.so
module3/.vscode/settings.json
module3/1/checker
module3/10/consumer
module3/10/producer
module3/11/consumer
module3/11/producer
module3/12/client
module3/12/server
module3/13/client/client
module3/13/client/client_request.txt
module3/13/client/server_response.txt
module3/13/server/server
module3/14/client
module3/14/server
module3/14/sniffer
module3/14/udp_dump.bin
module3/15/client
module3/15/server
module3/2/interpreter
module3/3/phonebook
module3/3/phonebook.txt
module3/4/file.txt
module3/4/interpreter
module3/4/savefile.txt
module3/4/savefile2.txt
module3/5/signal_file
module3/5/signaler
module3/6/client/client
module3/6/server/client
module3/6/server/server
module3/7/pin_pong
module3/8/consumer
module3/8/producer
module3/8/Storage
module3/8/testfile
module3/9/consumer
module3/9/producer
