/module2/*.vs
*.json
*.txt
*.o
*.so
module2/2/2.1/phonebook
module2/3/3.1/cast_chmod
module2/3/3.2/ips
module2/4/4.1/phonebook

module2/4/4.3/phonebook
module2/4/4.2/pqueue
module2/6/6.3/calculator
module3/1/checker
module3/3/phonebook
module3/2/interpreter
module3/4/interpreter
module3/5/signaler
module3/5/signal_file
module3/6/server/server
module3/6/client/client
module3/6/client/main.c
module3/6/server/client
module3/7/pin_pong
module3/8/producer/producer
module3/8/consumer/consumer
module3/8/producer
module3/8/consumer
module3/8/Storage
module3/8/testfile
module3/9/consumer
module3/9/producer
module3/9/Storage
.gitignore
module3/10/consumer
module3/10/producer
module3/11/producer
.gitignore
module3/11/consumer
module3/12/client
module3/12/server
module3/13/server
module3/13/client
module3/14/sniffer
module3/14/Makefile
module3/14/server
module3/14/client
